<!DOCTYPE html>
<html lang="es-co">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expreso Bolivariano - Api Core - Promotions</title>
</head>

<body>
    <div class="container body-content">

        <h1>Sandbox - Expreso Bolivariano - Api Core - Promotions</h1>
        <dl>
            <dt>Commercial Version:</dt>
            <dd>1.0.0</dd>
            <dt>Framework:</dt>
            <dd>Python=3.10.4</dd>
            <dt>Copyright:</dt>
            <dd>Copyright&#169; Expreso Bolivariano</dd>
            <dt>Environment:</dt>
            <dd>Sandbox</dd>
        </dl>
        <hr />
    </div>
</body>

</html>